.mt-def {margin-top: 1.5625rem;}
.mb-def {margin-bottom: 1.5625rem;}
.m-def {margin: 1.5625rem 0;}

//template for 1920px
$font-sizes: (
        12: .625rem,
        14: .72916rem,
        16: .833rem,
        18: .9375rem,
        20: 1.04166rem,
        24: 1.25rem,
        28: 1.4583rem
);

@mixin position($pos: static, $x: 0, $y: 0, $index: initial) {
    position: $pos;
    left: $x;
    top: $y;
    @if $index != initial {z-index: $index;}
}

@mixin font-size($size, $line-height: initial) {
    @each $key, $value in $font-sizes {
        @if $key == $size {
            font-size: $value;
        }
    }
    @if $line-height != initial {
        line-height: $line-height;
    }
}

@mixin bg-image($img, $size: cover, $position: initial) {
    background-image: url('#{$img}');
    background-repeat: no-repeat;
    background-size: $size;
    background-position: $position;
}

@mixin flex($justify-content: initial, $align-items: initial, $direction: initial, $wrap: initial) {
    display: flex;
    @if $justify-content != initial {justify-content: $justify-content;}
    @if $align-items != initial {align-items: $align-items;}
    @if $direction != initial {flex-direction: $direction;}
    @if $wrap != initial {flex-wrap: $wrap;}
}
