.container {
    width: 67.7083rem !important;
    margin: 0 auto !important;
}

@media only screen and (max-width: 768px) { .container {width: 90% !important;}}

.flex-1 {flex: 1;}

.df {display: flex;}
.jc-between {justify-content: space-between;}
.jc-around {justify-content: space-around;}
.jc-evenly {justify-content: space-evenly;}
.jc-center {justify-content: center;}
.jc-start {justify-content: flex-start;}
.jc-end {justify-content: flex-end;}
.jc-stretch {justify-content: stretch;}

.ai-center {align-items: center;}
.ai-start {align-items: flex-start;}
.ai-end {align-items: flex-end;}
.ai-stretch {align-items: stretch;}

.column {flex-direction: column;}
.row {flex-direction: row;}

.wrap {flex-wrap: wrap;}

.p-static {position: static;}
.p-relative {position: relative;}
.p-absolute {position: absolute;}

.m-auto {margin: auto;}

@for $i from 1 through 20 {
    .w-#{5 * $i} {width: 5% * $i;}
}

